* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-rob: "Roboto", sans-serif;
  --font-mons: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: var(--font-mons);
}

/* ------------------------------- */

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* ----------------------------------- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-brand {
  font-size: 2.5rem;
  font-family: var(--font-rob);
  color: #f98404;
}

.nav-links {
  display: flex;
}

.link-item {
  padding: 0.7rem 1rem;
  margin-left: 0.5rem;
  font-family: var(--font-mons);
  color: rgb(88, 86, 86);
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
